// ფერები და ზოგადი ცვლადები
$primary-color: #ff5722;
$secondary-color: #ff0000;
$text-dark: #333333;
$text-muted: #777777;
$bg-light: #ffffff;
$card-bg: #ffffff;
$radius: 12px;
$radius-btn: 30px;
$shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
